.autocomplete-dropdown {
  box-sizing: border-box;
  border: 1px solid gray;
  border-top: none;
  padding-left: 0;
  padding-top: 10px;
  position: absolute;
  list-style: none;
}

.autocomplete-dropdown li {
  box-sizing: border-box;
  cursor: pointer;
  cursor: hand;
  padding: 2px 5px;
  margin: 0;
  width: 100%;
}

.autocomplete-highlighted, .autocomplete-dropdown li:hover {
  background-color: lightgray;
}
